# Require packages to be published for 3+ days before install, to avoid compromised packages
min-release-age=3
# Block install scripts to avoid compromised packages running code during install
ignore-scripts=true
