name: CI

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 20
          - 22
          - 24
        mongo:
          - v7.0-latest
          - v8.0-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dependencies
        env:
          MONGOMS_VERSION: ${{ matrix.mongo }}
          MONGOMS_DISABLE_POSTINSTALL: 0
        run: npm clean-install
      - name: Lint
        run: npm run lint
      - name: Test
        env:
          MONGOMS_VERSION: ${{ matrix.mongo }}
        run: npm test
