name: CI

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 16
          - 18
          - 20
        mongo:
          - v6.0-latest
          - v5.0-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dependencies
        env:
          MONGOMS_VERSION: ${{ matrix.mongo }}
          MONGOMS_DISABLE_POSTINSTALL: 0
        run: npm clean-install
      - name: Lint
        run: npm run lint
      - name: Test
        env:
          MONGOMS_VERSION: ${{ matrix.mongo }}
        run: npm test
